<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Request Header Parser Microservice</title>
        <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond" rel="stylesheet">
        <link rel="stylesheet" href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
        <link rel="stylesheet" type="text/css" href="stylesheet/app.css">
    </head>
    <body>
