<% include partials/header %>

    <h1>Request Header Parser Microservice</h1>

    <h3>Instructions:</h3>

    <p class='content'>Go to: <a href="https://request-header-parser-fcc2.herokuapp.com/whoami"><code>https://request-header-parser-fcc2.herokuapp.com/whoami</code></a> to retrieve IP address, language, software, browser, version, and platform in a JSON format</p>

    <p class='footer'>A <a href="https://www.freecodecamp.com/challenges/request-header-parser-microservice">Free Code Camp Project. </a> done by Maryam Gulaid</p>

<% include partials/footer %>
